.bookingTicket{
    color:#000;
}
.ButtonSeat {
    border-radius: 0px 0px 5px 5px;
    font-size: 0.85rem;
    padding: 0.05rem;
    width: 30px;
    height: 30px;
    color: #000;
    background-color: #fff;

}
.Seat{
    border: solid 2px #000;
}

.SeatVip{
    border: solid 2px #f7941e;
}
.screen{
    border-bottom: 30px solid #f7f6f6;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width: 97%;
    filter: drop-shadow(0px 25px 10px hsla(0, 0%, 77%, 0.25));
    font-size: 25px;
    text-align: center;
}
.CheckedSeat {
    border: solid 2px #f7941e;
    background-color: #f7941e;
    /* border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        linear-gradient(100deg, #d15116, #f7941e, #eec42a);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff;
    color: #000; */
}
.OccupiedSeat {
    border: solid 2px #757575;
    background-color: #757575;
}
.infoTicket{
    color: #f7941e;
}

